name: OrangeHRM Automation CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        browser: [chrome]
        java-version: [17]

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up JDK
        uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: ${{ matrix.java-version }}

      - name: Install Chrome
        run: |
          sudo apt-get update
          sudo apt-get install -y wget unzip libgtk-3-0 libdbus-glib-1-2 libxt6
          wget https://dl.google.com/linux/direct/google-chrome-stable_current_amd64.deb
          sudo dpkg -i google-chrome-stable_current_amd64.deb || sudo apt-get install -f -y

      - name: Build & Test
        run: mvn clean test -Dbrowser=${{ matrix.browser }}

      - name: Upload TestNG Results
        uses: actions/upload-artifact@v4
        with:
          name: testng-results
          path: test-output/

      - name: Upload Reports
        uses: actions/upload-artifact@v4
        with:
          name: reports
          path: reports/
